# Using Transactional Datasets for Customer Analytics

Transactional datasets are one of the most common customer datasets available to all businesses. Such datasets hold information about the purchase history of customers including the amount, frequency and date of purchases.

In this lesson, we will be looking at a transactional dataset from an online retail store and our goal with this lesson is to clean this dataset and make it ready for performing customer analytics.

<img src = "images/store.jpg" width = 600>

The dataset contains the following information:

- **CustomerID**: Unique ID assigned to each customer
- **InvoiceNo**: Unique number assigned for each invoice 
- **AmountSpent**: Amount spent by the customer
- **InvoiceDate**: Date of transaction
- **Country**: Name of the country where the order was placed

Before we get started, please make sure you've installed Python in your system along with its libraries `pandas`, `numpy` and `matplotlib`. You can install the libraries using the following command,

In [1]:
# !pip install numpy pandas matplotlib

Let us start by importing the necessary libraries,

In [2]:
import pandas as pd

Next, importing the CSV file called `transaction_dataset.csv` which contains information about the purchases made by the customers.

In [3]:
# Read the CSV data as a Pandas DataFrame
transaction_df = pd.read_csv('data/transaction_dataset.csv', low_memory=False)

# Looking at the first five rows
transaction_df.head()

   CustomerID InvoiceNo  AmountSpent     InvoiceDate         Country
0     17850.0    536365        15.30  12/1/2010 8:26  United Kingdom
1     17850.0    536365        20.34  12/1/2010 8:26  United Kingdom
2     17850.0    536365        22.00  12/1/2010 8:26  United Kingdom
3     17850.0    536365        20.34  12/1/2010 8:26  United Kingdom
4     17850.0    536365        20.34  12/1/2010 8:26  United Kingdom

Let us look at the shape of the dataframe to know how large is the dataset.

In [4]:
# Printing the shape of the dataframe
transaction_df.shape

(541908, 5)

As a first step, we should always clean a dataset before performing customer analytics.

Data cleaning processes differ from one dataset to the other but the general idea is the same, that is, we are trying to ensure that the data is verified and validated before any insights are generated from it.

Let us start by checking if the DataFrame has any null values in it.

In [5]:
# Checking for null values
transaction_df.isnull().sum()

CustomerID     135080
InvoiceNo           0
AmountSpent         0
InvoiceDate         0
Country             0
dtype: int64

There are two ways to handle such null values. We can either remove the data rows containing the null values or we can fill the null values with some statistical value using the mean, max, etc. of the column.

In this case, CustomerID represents the individuality of a customer. Filling it is not a good idea since we cannot guess which customer made the purchase in the transactional dataset.

So, let us drop all the data rows containing null values.

In [6]:
# Dropping the null values
transaction_df.dropna(inplace=True)

In [7]:
# Check for null values
transaction_df.isnull().sum()

CustomerID     0
InvoiceNo      0
AmountSpent    0
InvoiceDate    0
Country        0
dtype: int64

Hence, we've successfully handled the missing values. Next, let us look at the data types of the various columns in the dataset.

In [8]:
# Printing a concise summary of the DataFrame
transaction_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 406828 entries, 0 to 541907
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   CustomerID   406828 non-null  float64
 1   InvoiceNo    406828 non-null  object
 2   AmountSpent  406828 non-null  float64
 3   InvoiceDate  406828 non-null  object
 4   Country      406828 non-null  object
dtypes: float64(2), object(3)
memory usage: 18.6+ MB

There are three columns with the data type as object. Let us convert them to their appropriate data type. Here, CustomerID is being stored as a float value even though it is always an integer.

In [9]:
# Converting InvoiceNo from object to integer
transaction_df['InvoiceNo'] = transaction_df['InvoiceNo'].astype(int)

# Converting InvoiceDate from object to datetime
transaction_df['InvoiceDate'] = pd.to_datetime(transaction_df['InvoiceDate'])

# Converting Country from object to string
transaction_df['Country'] = transaction_df['Country'].astype(str)

The `CustomerID` column is currently holding values as float even though the data values are integer numbers. Let us convert its data type from float to integer as well.

In [10]:
# Converting CustomerID from float to integer
transaction_df['CustomerID'] = transaction_df['CustomerID'].astype(int)

Now, let us look at the head of the DataFrame to verify that the data types have been assigned appropriately.

In [11]:
# Looking at the first five rows
transaction_df.head()

   CustomerID  InvoiceNo  AmountSpent         InvoiceDate         Country
0       17850     536365        15.30 2010-12-01 08:26:00  United Kingdom
1       17850     536365        20.34 2010-12-01 08:26:00  United Kingdom
2       17850     536365        22.00 2010-12-01 08:26:00  United Kingdom
3       17850     536365        20.34 2010-12-01 08:26:00  United Kingdom
4       17850     536365        20.34 2010-12-01 08:26:00  United Kingdom

In [12]:
transaction_df.dtypes

CustomerID              int32
InvoiceNo               int32
AmountSpent           float64
InvoiceDate    datetime64[ns]
Country                object
dtype: object

Finally, let us also check if all the numeric values in the dataset are proper or not.

In [13]:
# Getting a statistical description of the dataset
transaction_df.describe()

          CustomerID      InvoiceNo    AmountSpent
count  406828.000000  406828.000000  406828.000000
mean    15287.694552  560581.737412      20.401913
std      1713.600528   13105.458755     427.592241
min     12346.000000  536365.000000 -168469.600000
25%     13953.000000  549130.000000       4.200000
50%     15152.000000  561873.000000      11.100000
75%     16791.000000  572065.000000      19.500000
max     18287.000000  581587.000000  168469.600000

We can see that the `AmountSpent` column has negative values in it. However, such column can only hold positive values that is greater than 0. Let us fix that.

In [14]:
# Getting the positive value 
transaction_df['AmountSpent'] = transaction_df['AmountSpent'].abs()

In [15]:
# Getting a statistical description of the dataset
transaction_df.describe()

          CustomerID      InvoiceNo    AmountSpent
count  406828.000000  406828.000000  406828.000000
mean    15287.694552  560581.737412      23.407303
std      1713.600528   13105.458755     427.438254
min     12346.000000  536365.000000       0.000000
25%     13953.000000  549130.000000       4.680000
50%     15152.000000  561873.000000      11.800000
75%     16791.000000  572065.000000      19.800000
max     18287.000000  581587.000000  168469.600000

We've successfully cleaned the dataset!

In a practical scenario, data cleaning can take anywhere from an hour to just a few seconds of time. The quality of data is dependent on multiple factors and in order to minimize the time taken to clean a dataset, all businesses should put an effort into collecting data from verified and validated sources.

Moving on, let us save the cleaned dataset as a new CSV file so that we are able to use it in future lessons.

In [16]:
# Saving as a new CSV file
transaction_df.to_csv('data/customer_dataset.csv', header=True, index=False)

That is it for this lesson!

I encourage you to go over each column of data one-by-one and understand this dataset even better. Also, as an exercise, you can try classifying whether the columns hold qualitative or quantitative values in them.